* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:rgb(49, 49, 107) ;  
}

.wrap {
    display: flex;
    justify-content: center;
}

.nav {
    width: 200px;
    text-align: center;
    background-color:rgb(149, 180, 227);
    box-sizing: border-box;
}

.content {
    text-align: center;
    width: 550px;
    background-color:rgb(75, 116, 177);
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    text-align: center;
}

h1, h2 {
    padding: 15px;
}

p.content {
    padding: 15px;
}

p.copyright {
    position: fixed;
    padding: 10px;
    text-align: right;
    clear: both;
}