* {
    box-sizing: border-box;
    border: 1px black solid;
    margin: 0;
    padding: 0;
}

.flexbox {
    display: flex;
}

.col-4{
    font-size: 15px;
    width: 100%;
}

.col-6{
    font-size: 20px;
    width: 100%;
}

.col-12{
    font-size: 30px;
    width: 100%;
}

@media screen and (min-width: 765px) {
    .col-4 {
      width: 50%;
    }
  }

@media screen and (min-width: 960px) {
    .col-4 {
        width: 33%;
    }

    .col-6 {
        width: 50%;
    }

    .col-12 {
        width: 100%;
    }
  }